In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # statistical data visualization
%matplotlib inline

In [4]:
data = pd.read_csv('/Users/aarthanarumugam/DC/Sem_1/Capstone/temp/final.csv')

In [6]:
data.head

<bound method NDFrame.head of       CustomerID  Gender  Senior_Citizen Partner Dependents  Tenure  \
0     0002-ORFBO  Female               0     Yes        Yes       9
1     0003-MKNFE    Male               0      No         No       9
2     0004-TLHLJ    Male               0      No         No       4
3     0011-IGKFF    Male               1     Yes         No      13
4     0013-EXCHZ  Female               1     Yes         No       3
...          ...     ...             ...     ...        ...     ...
7038  9987-LUTYD  Female               0      No         No      13
7039  9992-RRAMN    Male               0     Yes         No      22
7040  9992-UJOEL    Male               0      No         No       2
7041  9993-LHIEB    Male               0     Yes        Yes      67
7042  9995-HOTOH    Male               0     Yes        Yes      63

          Service_type    Multiple_Lines Internet_Service_type  \
0        Phone Service                No                 Cable
1        Phone Service               Yes                 Cable
2        Phone Service                No           Fiber Optic
3        Phone Service                No           Fiber Optic
4        Phone Service                No           Fiber Optic
...                ...               ...                   ...
7038     Phone Service                No                   DSL
7039     Phone Service               Yes           Fiber Optic
7040     Phone Service                No                   DSL
7041     Phone Service                No                 Cable
7042  Internet Service  No phone service                 Cable

     Online_Security  ... Monthly_Charges Total_Charges Number_of_Referrals  \
0                 No  ...           65.60        593.30                   2
1                 No  ...           59.90        542.40                   0
2                 No  ...           73.90        280.85                   0
3                 No  ...           98.00       1237.85                   1
4                 No  ...           83.90        267.40                   3
...              ...  ...             ...           ...                 ...
7038             Yes  ...           55.15        742.90                   0
7039              No  ...           85.10       1873.70                   1
7040              No  ...           50.30         92.75                   0
7041             Yes  ...           67.85       4627.65                   5
7042             Yes  ...           59.00       3707.60                   1

        Offer Avg_Monthly_Long_Distance_Charges Avg_Monthly_GB_Download  \
0          No                             42.39                      16
1          No                             10.69                      10
2     Offer E                             33.65                      30
3     Offer D                             27.82                       4
4          No                              7.38                      11
...       ...                               ...                     ...
7038  Offer D                             46.68                      59
7039  Offer D                             16.20                      17
7040  Offer E                             18.62                      51
7041  Offer A                              2.12                      58
7042       No                              0.00                       5

     Upgraded_to_Unlimited_Data Total_Long_Distance_Charges  Total_Revenue  \
0                           Yes                      381.51         974.81
1                            No                       96.21         610.28
2                           Yes                      134.60         415.45
3                           Yes                      361.66        1599.51
4                           Yes                       22.14         289.54
...                         ...                         ...            ...
7038                        Yes                      606.84        1349.74
7039                        Yes                      356.40        2230.10
7040                        Yes                       37.24         129.99
7041                        Yes                      142.04        4769.69
7042                        Yes                        0.00        3707.60

      Churn
0        No
1        No
2       Yes
3       Yes
4       Yes
...     ...
7038     No
7039    Yes
7040     No
7041     No
7042     No

[7043 rows x 28 columns]>

In [7]:
df = data.sort_values('CustomerID',ascending=True)

In [8]:
data.head

<bound method NDFrame.head of       CustomerID  Gender  Senior_Citizen Partner Dependents  Tenure  \
0     0002-ORFBO  Female               0     Yes        Yes       9
1     0003-MKNFE    Male               0      No         No       9
2     0004-TLHLJ    Male               0      No         No       4
3     0011-IGKFF    Male               1     Yes         No      13
4     0013-EXCHZ  Female               1     Yes         No       3
...          ...     ...             ...     ...        ...     ...
7038  9987-LUTYD  Female               0      No         No      13
7039  9992-RRAMN    Male               0     Yes         No      22
7040  9992-UJOEL    Male               0      No         No       2
7041  9993-LHIEB    Male               0     Yes        Yes      67
7042  9995-HOTOH    Male               0     Yes        Yes      63

          Service_type    Multiple_Lines Internet_Service_type  \
0        Phone Service                No                 Cable
1        Phone Service               Yes                 Cable
2        Phone Service                No           Fiber Optic
3        Phone Service                No           Fiber Optic
4        Phone Service                No           Fiber Optic
...                ...               ...                   ...
7038     Phone Service                No                   DSL
7039     Phone Service               Yes           Fiber Optic
7040     Phone Service                No                   DSL
7041     Phone Service                No                 Cable
7042  Internet Service  No phone service                 Cable

     Online_Security  ... Monthly_Charges Total_Charges Number_of_Referrals  \
0                 No  ...           65.60        593.30                   2
1                 No  ...           59.90        542.40                   0
2                 No  ...           73.90        280.85                   0
3                 No  ...           98.00       1237.85                   1
4                 No  ...           83.90        267.40                   3
...              ...  ...             ...           ...                 ...
7038             Yes  ...           55.15        742.90                   0
7039              No  ...           85.10       1873.70                   1
7040              No  ...           50.30         92.75                   0
7041             Yes  ...           67.85       4627.65                   5
7042             Yes  ...           59.00       3707.60                   1

        Offer Avg_Monthly_Long_Distance_Charges Avg_Monthly_GB_Download  \
0          No                             42.39                      16
1          No                             10.69                      10
2     Offer E                             33.65                      30
3     Offer D                             27.82                       4
4          No                              7.38                      11
...       ...                               ...                     ...
7038  Offer D                             46.68                      59
7039  Offer D                             16.20                      17
7040  Offer E                             18.62                      51
7041  Offer A                              2.12                      58
7042       No                              0.00                       5

     Upgraded_to_Unlimited_Data Total_Long_Distance_Charges  Total_Revenue  \
0                           Yes                      381.51         974.81
1                            No                       96.21         610.28
2                           Yes                      134.60         415.45
3                           Yes                      361.66        1599.51
4                           Yes                       22.14         289.54
...                         ...                         ...            ...
7038                        Yes                      606.84        1349.74
7039                        Yes                      356.40        2230.10
7040                        Yes                       37.24         129.99
7041                        Yes                      142.04        4769.69
7042                        Yes                        0.00        3707.60

      Churn
0        No
1        No
2       Yes
3       Yes
4       Yes
...     ...
7038     No
7039    Yes
7040     No
7041     No
7042     No

[7043 rows x 28 columns]>

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 28 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   CustomerID                         7043 non-null   object
 1   Gender                             7043 non-null   object
 2   Senior_Citizen                     7043 non-null   int64
 3   Partner                            7043 non-null   object
 4   Dependents                         7043 non-null   object
 5   Tenure                             7043 non-null   int64
 6   Service_type                       7043 non-null   object
 7   Multiple_Lines                     7043 non-null   object
 8   Internet_Service_type              7043 non-null   object
 9   Online_Security                    7043 non-null   object
 10  Online_Backup                      7043 non-null   object
 11  Device_Protection                  7043 non-null   object
 12  Tech_Support                       7043 non-null   object
 13  Streaming_TV                       7043 non-null   object
 14  Streaming_Movies                   7043 non-null   object
 15  Contract                           7043 non-null   object
 16  Paperless_Billing                  7043 non-null   object
 17  Payment_Method                     7043 non-null   object
 18  Monthly_Charges                    7043 non-null   float64
 19  Total_Charges                      7043 non-null   float64
 20  Number_of_Referrals                7043 non-null   int64
 21  Offer                              7043 non-null   object
 22  Avg_Monthly_Long_Distance_Charges  7043 non-null   float64
 23  Avg_Monthly_GB_Download            7043 non-null   int64
 24  Upgraded_to_Unlimited_Data         7043 non-null   object
 25  Total_Long_Distance_Charges        7043 non-null   float64
 26  Total_Revenue                      7043 non-null   float64
 27  Churn                              7043 non-null   object
dtypes: float64(5), int64(4), object(19)
memory usage: 1.5+ MB

In [11]:
df['class'].value_counts()

KeyError: 'class'

In [12]:
df.isnull().sum()

CustomerID                           0
Gender                               0
Senior_Citizen                       0
Partner                              0
Dependents                           0
Tenure                               0
Service_type                         0
Multiple_Lines                       0
Internet_Service_type                0
Online_Security                      0
Online_Backup                        0
Device_Protection                    0
Tech_Support                         0
Streaming_TV                         0
Streaming_Movies                     0
Contract                             0
Paperless_Billing                    0
Payment_Method                       0
Monthly_Charges                      0
Total_Charges                        0
Number_of_Referrals                  0
Offer                                0
Avg_Monthly_Long_Distance_Charges    0
Avg_Monthly_GB_Download              0
Upgraded_to_Unlimited_Data           0
Total_Long_Distance_Charges          0
Total_Revenue                        0
Churn                                0
dtype: int64

In [29]:
data = df.drop(['Churn','Senior_Citizen','Multiple_Lines','Online_Security','Online_Backup','Device_Protection','Tech_Support','Streaming_Movies','Paperless_Billing','Upgraded_to_Unlimited_Data'], axis=1)

target = df['Churn']

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)
# check the shape of X_train and X_test

X_train.shape, X_test.shape

((4718, 18), (2325, 18))

In [32]:
data['Gender'] = data['Gender'].apply(
    lambda x: 1 if x == 'Male' else (0 if x == 'Female'))

SyntaxError: expected 'else' after 'if' expression (3069739000.py, line 2)

In [31]:
dat.head()

,CustomerID,Gender,Partner,Dependents,Tenure,Service_type,Internet_Service_type,Streaming_TV,Contract,Payment_Method,Monthly_Charges,Total_Charges,Number_of_Referrals,Offer,Avg_Monthly_Long_Distance_Charges,Avg_Monthly_GB_Download,Total_Long_Distance_Charges,Total_Revenue
0,0002-ORFBO,None,Yes,Yes,9,Phone Service,NaN,Yes,One Year,Mailed check,65.6,593.30,2,No,42.39,16,381.51,974.81
1,0003-MKNFE,None,No,No,9,Phone Service,NaN,No,Month-to-Month,Mailed check,59.9,542.40,0,No,10.69,10,96.21,610.28
2,0004-TLHLJ,None,No,No,4,Phone Service,NaN,No,Month-to-Month,Electronic check,73.9,280.85,0,Offer E,33.65,30,134.60,415.45
3,0011-IGKFF,None,Yes,No,13,Phone Service,NaN,Yes,Month-to-Month,Electronic check,98.0,1237.85,1,Offer D,27.82,4,361.66,1599.51
4,0013-EXCHZ,None,Yes,No,3,Phone Service,NaN,Yes,Month-to-Month,Mailed check,83.9,267.40,3,No,7.38,11,22.14,289.54

In [24]:
from sklearn.preprocessing import OrdinalEncoder as ce
# encode categorical variables with ordinal encoding

encoder = ce.OrdinalEncoder(cols=['Internet_Service_type'])

AttributeError: type object 'OrdinalEncoder' has no attribute 'OrdinalEncoder'

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

# Sample data with 
ordinal categoriesdata = [['low', 'hot'],
                          ['medium', 'cold'],
                          ['high', 'hot'],
                          ['low', 'cold']]

# Create an instance of OrdinalEncoderencoder = OrdinalEncoder()

# Fit the encoder to your data and transform the data

encoded_data = encoder.fit_transform(data)


# The transformed data will be a NumPy array

print(encoded_data)

In [26]:
X.Internet_Service_type = X.Internet_Service_type.map({'Cable' : 0, 'No' : 1, 'DSL' : 2, 'Fiber Optic' : 3})

In [27]:
df.head()

,CustomerID,Gender,Senior_Citizen,Partner,Dependents,Tenure,Service_type,Multiple_Lines,Internet_Service_type,Online_Security,...,Monthly_Charges,Total_Charges,Number_of_Referrals,Offer,Avg_Monthly_Long_Distance_Charges,Avg_Monthly_GB_Download,Upgraded_to_Unlimited_Data,Total_Long_Distance_Charges,Total_Revenue,Churn
0,0002-ORFBO,0,0,Yes,Yes,9,Phone Service,No,NaN,No,...,65.6,593.30,2,No,42.39,16,Yes,381.51,974.81,No
1,0003-MKNFE,1,0,No,No,9,Phone Service,Yes,NaN,No,...,59.9,542.40,0,No,10.69,10,No,96.21,610.28,No
2,0004-TLHLJ,1,0,No,No,4,Phone Service,No,NaN,No,...,73.9,280.85,0,Offer E,33.65,30,Yes,134.60,415.45,Yes
3,0011-IGKFF,1,1,Yes,No,13,Phone Service,No,NaN,No,...,98.0,1237.85,1,Offer D,27.82,4,Yes,361.66,1599.51,Yes
4,0013-EXCHZ,0,1,Yes,No,3,Phone Service,No,NaN,No,...,83.9,267.40,3,No,7.38,11,Yes,22.14,289.54,Yes

In [28]:
X.head()

,CustomerID,Gender,Partner,Dependents,Tenure,Service_type,Internet_Service_type,Streaming_TV,Contract,Payment_Method,Monthly_Charges,Total_Charges,Number_of_Referrals,Offer,Avg_Monthly_Long_Distance_Charges,Avg_Monthly_GB_Download,Total_Long_Distance_Charges,Total_Revenue
0,0002-ORFBO,Female,Yes,Yes,9,Phone Service,Cable,Yes,One Year,Mailed check,65.6,593.30,2,No,42.39,16,381.51,974.81
1,0003-MKNFE,Male,No,No,9,Phone Service,Cable,No,Month-to-Month,Mailed check,59.9,542.40,0,No,10.69,10,96.21,610.28
2,0004-TLHLJ,Male,No,No,4,Phone Service,Fiber Optic,No,Month-to-Month,Electronic check,73.9,280.85,0,Offer E,33.65,30,134.60,415.45
3,0011-IGKFF,Male,Yes,No,13,Phone Service,Fiber Optic,Yes,Month-to-Month,Electronic check,98.0,1237.85,1,Offer D,27.82,4,361.66,1599.51
4,0013-EXCHZ,Female,Yes,No,3,Phone Service,Fiber Optic,Yes,Month-to-Month,Mailed check,83.9,267.40,3,No,7.38,11,22.14,289.54

In [ ]:
data.Gender = data.Gender.map({'Female' : 0, 'Male' : 1})
data.Partner = data.Partner.map({'Yes' : 0, 'No' : 1})
data.Dependents = data.Dependents.map({'Yes' : 0, 'No' : 1})
data.Service_type = data.Service_type.map({'Internet Service' : 0, 'Phone Service' : 1})
data.Internet_Service_type = data.Internet_Service_type.map({'Cable' : 0, 'No' : 1, 'DSL' : 2, 'Fiber Optic' : 3})

In [33]:
data.Streaming_TV = data.Streaming_TV.map({'No Internet Service' : 'No'})

In [34]:
data.head()

,CustomerID,Gender,Partner,Dependents,Tenure,Service_type,Internet_Service_type,Streaming_TV,Contract,Payment_Method,Monthly_Charges,Total_Charges,Number_of_Referrals,Offer,Avg_Monthly_Long_Distance_Charges,Avg_Monthly_GB_Download,Total_Long_Distance_Charges,Total_Revenue
0,0002-ORFBO,None,Yes,Yes,9,Phone Service,NaN,NaN,One Year,Mailed check,65.6,593.30,2,No,42.39,16,381.51,974.81
1,0003-MKNFE,None,No,No,9,Phone Service,NaN,NaN,Month-to-Month,Mailed check,59.9,542.40,0,No,10.69,10,96.21,610.28
2,0004-TLHLJ,None,No,No,4,Phone Service,NaN,NaN,Month-to-Month,Electronic check,73.9,280.85,0,Offer E,33.65,30,134.60,415.45
3,0011-IGKFF,None,Yes,No,13,Phone Service,NaN,NaN,Month-to-Month,Electronic check,98.0,1237.85,1,Offer D,27.82,4,361.66,1599.51
4,0013-EXCHZ,None,Yes,No,3,Phone Service,NaN,NaN,Month-to-Month,Mailed check,83.9,267.40,3,No,7.38,11,22.14,289.54